@model Parcial2_FlorezRSebastian.DAL.Entities.Ticket

<div class="form-group">
    <label asp-for="CodTicket" class="control-label"></label>
    <input asp-for="CodTicket" class="form-control" />
    <span asp-validation-for="CodTicket" class="text-danger"></span>
</div>
<div class="form-group">
    //  <label asp-for="UsedDate" class="control-label"></label>
    <input asp-for="UsedDate" class="form-control" />
    <span asp-validation-for="UsedDate" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="IsUsed" class="control-label"></label>
    <select asp-for="IsUsed" class="form-control" multiple>
        <option value="True">Verdadero</option>
        <option value="False">Falso</option>
    </select>
    <span asp-validation-for="IsUsed" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="EntranceGate" class="control-label"></label>
    <select asp-for="EntranceGate" class="form-control" multiple>
        <option value="Norte">Norte</option>
        <option value="Sur">Sur</option>
        <option value="Oriental">Oriental</option>
        <option value="Occidental">Occidental</option>
    </select>
    <span asp-validation-for="EntranceGate" class="text-danger"></span>
</div>