@model Parcial2_FlorezRSebastian.DAL.Entities.Ticket

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />

<h1>Detalles</h1>

<div>
    <partial name="../Shared/PartialViews/_TicketDetails.cshtml" />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-warning">Editar</a>
    <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
</div>
